.App {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: #222;
}
.App-headshot {
  height: 350px;
  display: inline;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 200px;
  color: white;
  position: relative;
}

li {
  list-style-type: none;
}

.top-stack {
  margin: 80px;
  min-height: 400px;
}

.profiles-stack {
  min-height: 450px;
}

.about-stack {
  min-height: 450px;
}

.frontend {
  min-height: 400px;
}

.col-xs-2{
  display: inline;
}

.frontend {
  min-height: 265px;
}

.sandbox-stack {
  margin-top: 100px;
  height: 1200px;
}

.fcc-stack {
  margin-top: 65px;
  min-height: 950px;
}

.contact-stack {
  min-height: 450px;
}

.api-dropdown {
  height: 50px;
}

.skill-instruction-split {
  margin-top: 55px;
}

.skills-sandbox, .instruction-sandbox {
  min-height: 200px;
  max-height: 375px;
}

.response-landing {
    min-height: 175px;
    font-size: 24px;
}

/*
Clock CSS:
*/

.clock-face {
  height: 595px;
  width: 595px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: transparent;
  border: 2px solid black;
}
