.App {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: #222;
}
.App-headshot {
  height: 140px;
  display: none;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 200px;
  color: white;
  position: relative;
}

.App-intro {
  margin-top: 55px;
  font-size: large;
}

li {
  list-style-type: none;
}

.top-stack {
  margin: 50px;
  height: 400px;
}

.profiles-stack {
  min-height: 450px;
}

.about-stack {
  min-height: 450px;
}

.frontend {
  height: 400px;
}

.col-xs-2{
  display: inline;
}

.frontend {
  min-height: 265px;
}

.sandbox-stack {
  margin-top: 100px;
  height: 1200px;
}

.fcc-stack {
  margin-top: 65px;
  height: 950px;
}

.contact-stack {
  min-height: 450px;
}

.api-dropdown {
  height: 50px;
}

.skill-instruction-split {
  margin-top: 55px;
}

.skills-sandbox, .instruction-sandbox {
  min-height: 200px;
  max-height: 375px;
}

.response-landing {
    min-height: 175px;
    font-size: 24px;
}

/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
