.App {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: #222;
}
.App-headshot {
  height: 350px;
  display: inline;
}

.App-header {
  background-color: #222;
  font-size: 36px;
  height: 250px;
  color: white;
  padding-top: 55px;
  position: relative;
}

li {
  list-style-type: none;
}

.top-stack {
  margin: 80px;
  min-height: 400px;
}

.profiles-stack {
  min-height: 450px;
}

.sandbox-stack {
  margin-top: 100px;
}

.weather-stack {
  margin-top: 100px;
}

.fcc-stack {
  margin-top: 100px;
}

.contact-stack {
  margin-top: 100px;
  margin-bottom: 100px;
}

.api-dropdown {
  height: 50px;
}

.response-landing {
    min-height: 175px;
    font-size: 24px;
}

.full-wrap {
  background-color: #eee;
}

.weather-wrapper {
  min-height: 250px;
  display: flex;
  flex-direction: row;
}
.weather-desc {
  padding-top: 85px;
}
.weather-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.weather-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.temp, .clouds, .wind {
  color: #fff;
  background-color: black;
  padding-top: 85px;
  flex-grow: 1;
}

.temp {
  flex-grow: 2;
}

.footer {
  height: 300px;
  background-color: black;
  color: white;
  padding-top: 120px;
}

/*
  Hawks colors
    red feather, green and white highlights
      - red: #d01a28
      - green: #2f843c
      - white: #ffffff
    green feather, yellow highlights
      - green: #2f843c
      - yellow: #f9d202
    yellow feather, blue highlights
      - yellow: #f9d202
      - blue: #091271
    orange feather, white highlights
      - orange: #f26717

*/

/*
  Clock CSS:
*/

svg {
  stroke: #000;
}
.second-tick {
  stroke-width: 3;
  fill: #000;
}

#rim {
  fill: none;
  stroke: #999;
}

.clock-desc {
  padding-top: 135px;
}

text {
  font-size: 12px;
}
